*.DS_STORE
/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
lambda/gamma_ray.zip
lambda/node_modules
lambda/gamma_ray
lambda/package-lock.json
/spec/dummy/log/test.log
